@import '../styles/breakpoints.module.scss';

.wrapper {
  padding-top: 3rem;
}

.actionsWrapper {
  gap: 0.5rem;
}
.footer {
  padding-block: 96px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 18px;
}

@media (max-width: $md) {
  .wrapper {
    padding-block: 1rem;
  }
}
